.popup {
  width: 350px;
  zoom: 0.8;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow: auto;
}

.register {
  flex-direction: column;
}

.register span {
  font-size: 15px;
  line-height: 18px;
}

.radio-group {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;

  .one, .two, .three, .four, .five {
    display: flex;
    justify-content: center; /* Horyzontalne wyśrodkowanie */
    align-items: center; /* Wertykalnie wyśrodkowanie */
  }
}

.wrapper .one {
  text-transform: Uppercase;
  font-size: 20px;
  margin-bottom: 0.5rem;
}

.wrapper .three, .wrapper .four {
  flex-direction: column;

  form {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 280px;
    margin-top: 1rem;
  }
}
